<!--{% extends 'layout.html'%}-->

<div class="container">
    <input class="form-control" id="searcher" type="text" placeholder="Buscar">
    <br>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nombre completo</th>
                <th scope="col">Identificación</th>
                <th scope="col">Asistencia</th>
                <!--<th scope="col">Perfil completo</th>-->
            </tr>
        </thead>
        <tbody id="userTable">
            {% for user in users %}
            <tr>
                <td> {{ user.apellido.strip() }} {{ user.nombre.strip() }} </td>
                <td> {{ user.documento.strip() }} </td>
                <td> <input type="checkbox">TestCheck</td>
                <!--<td> <a href="/get_user/{{ user.documento.strip() }}"> Visitar perfil </td>-->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if next_url is defined or prev_url is defined %}
    <center>
        <ul class="pagination pagination-sm">
            {% if prev_url is defined and prev_url is not none %}
            <li>
                <a href="{{ prev_url }}">Página anterior</a>
            </li>
            {% endif %} {% if next_url is defined and next_url is not none %}
            <li>
                <a href="{{ next_url }}">Página siguiente</a>
            </li>
            {% endif %}
        </ul>
    </center>
    {% endif %}
</div>

<script>
    $(document).ready(function () {
        $("#searcher").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#userTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>