{% extends "layout.html" %} {% block body %}
<div class="container">
    <div class="jumbotron">
        <h1>Registro de usuarios</h1>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% from "includes/_formhelper.html" import render_field %} 
        {{ form.hidden_tag() }}                
        <div>
            {{render_field(form.firstname)}}
        </div>
            {{render_field(form.surname)}}        
        {{render_field(form.birthdate)}} <br>
        {{render_field(form.picture)}}
        
        <hr>
        <p>
            Los campos de correo electrónico y contraseña son opcionales, y solamente deben ser diligenciados si el usuario debe tener acceso a este sistema de información.<br>
            {{render_field(form.email)}}
            {{render_field(form.password)}}        
        </p>
    </form>
</div>
{% endblock %}